@import "variables";
@import "mixins";
@import "layout";
@import "./buttons";
@import "./cards";
@import "./tables";
@import "./forms";
@import "./calendar";
/* src/styles/global.scss (or wherever you collect partials) */
@import "./header"; // <= add this line (resolves to _header.scss)
@import "./auth";
@import "./footer";

// body {
//   margin: 0;
//   font-family: $font-main;
//   background: white;
//   color: $text-dark;
// }
body {
  font-family: system-ui, sans-serif;
  background: #f9fafb;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}
.nav-link {
  color: inherit;
  opacity: 0.9;
}
.nav-link.active {
  font-weight: 600;
  text-decoration: underline;
}
.btn-link {
  background: none;
  border: none;
  color: #0ea5e9;
}
.btn-link:hover {
  text-decoration: underline;
}
